<% include partials/header %>

<body class="body-login">

<main role="main" class="login-main">
  <!-- <h1 class="home siteTitle">ContribuStory</h1> -->

  <div class="login-box">
    <h1 class="login-h1">Login</h1>
    <form action="/login" method="post">
      <!-- <label for="username">Username</label> -->
      <p class="username-p">Username</p>
      <input class="login-page-input" id="username" type="text" name="username" placeholder="username">

      <!-- <label for="password">Password</label> -->
      <p>Password</p>
      <input class="login-page-input" id="password" type="password" name="password" placeholder="password">

      <div class="button-center">
        <input type="submit" class="login-page-button"></input>
      </div>


    </form>
  </div>

</main>

<!-- <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script> -->

<!-- <script type="text/javascript" src="/index.js"></script> -->
</body>

<% include partials/footer %>
