<% include partials/header %>

<body class="body-register">



<div class="login-box">

  <h1 class="register-h1">Register</h1>

  <form action="/register" method="POST">
    <!-- <label for="">Please create a username</label> -->
    <p class="username-p">Register a username</p>
    <input class="register-page-input" type="text" name="username" placeholder="username">

    <!-- <label for="">Please create a password</label> -->
    <p>Create a Password</p>
    <input class="register-page-input" type="password" name="password" placeholder="password">

    <div class="button-center">
      <input class="register-page-button" type="submit"></input>
    </div>


  </form>
</div>


<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<script type="text/javascript" src="/index.js"></script>
</body>

<% include partials/footer %>

<!-- <form class="js-login-form" name="" action="http://localhost:8080" method="post">
    <label for="username">login</label>
    <input id="username" name="login" type="text" placeholder="username">

    <label for="password">password</label>
    <input id="password" name="password" type="password" placeholder="password">

    <label for="email">email</label>
    <input id="email" name="email" type="text" placeholder="email">

    <input type="submit" name="" value="">
  </form> -->
