<h1>Sign Up Form</h1>

<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button>Submit</button>

</form>

<li><a href="/logout">Logout</a></li>

<!-- <form class="js-login-form" name="" action="http://localhost:8080" method="post">
    <label for="username">login</label>
    <input id="username" name="login" type="text" placeholder="username">

    <label for="password">password</label>
    <input id="password" name="password" type="password" placeholder="password">

    <label for="email">email</label>
    <input id="email" name="email" type="text" placeholder="email">

    <input type="submit" name="" value="">
  </form> -->
